* {
  margin: 0;
  padding: 0;
}

.logo {
  width:70vw;
  height:60vh;
  
}

img {
  position: relative;
  margin-top: 20%;
  max-width:100%;
  height:auto;
  max-height:100%;
}

#circles img {
  width: 4vw;
}

body {
  background-color: rgb(250, 250, 250);
  /* background-repeat:no-repeat;
  background-size: cover; */
  font-family: 'Montserrat', sans-serif;
  color: #101010
}

hr {
  margin-top: 0%;
}

#subTitle {
  font-family: 'Montserrat', sans-serif;
  color: #101010;
  margin-top: 3%;
  margin-bottom: 8%;
}

.btn-outline-dark {
  color: rgb(250, 250, 250);
  border-color: rgb(250, 250, 250);
}

.loginBackground {
  background: url(https://cdn.discordapp.com/attachments/967858172373135390/970446353626955856/environment_background.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(250, 250, 250);
  color:#101010 
} 

#loginContainer {
  background-color: rgb(250, 250, 250);
  width: 100vw;
  height: 45vh;
}

.content {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} 

.links {
  font-size: 15px;
}

.card {
  border-radius: 10px;
  border-style: solid;
  border-width: 20px;
  border-color: #101010;
  margin: 25px;
  background-color: rgb(106, 37, 37);
}

.card-text{
  padding-bottom: 20%;
  padding-top: 15%;
  text-align: center;
  text-decoration: none;
}

#cardsDiv {
  padding-top: 5%;
  padding-inline: 1%;
}



/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */