@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Card>


<div class="row row-cols-2 row-cols-md-2 g-4">
    @foreach (Card card in Model)
    {
      <li>@Html.ActionLink($"{card.Name}", "Details", new { name = card.Name })</li>
      @* <li>@Html.ActionLink($"{card.Colors}", "Details", new { color = card.Colors })</li>
      <li>@Html.ActionLink($"{card.Type_Line}", "Details", new { type = card.Type_Line })</li> *@
    }
  </ul>