@{
  Layout = "_Layout";
}

@using MTGDeck.Models;



  <div class="logo"> 
    <img src="~/images/white_logo_5.svg" alt="Magic the Gathering logo(don't sue me)" class="center" />
    
    <div id="enterButton">
      <a class="btn btn-primary" href="http://localhost:5001/Account" role="button">Enter</a>
    </div>
  </div>



  