@{
  Layout = "_Layout";
}

@model MTGDeck.Models.Deck

<h4>Create Deck</h4>

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name, "")
    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px;", @class = "form-control", placeholder = "Name", required = "required"})
  </div>
  <br>
  <div>
    <input type="submit" value="Add deck" class="btn btn-dark" />
  </div>
}
