@{
  Layout = "_Layout";
}

@model MTGDeck.Models.Deck
<div class="content">
<h3>Deleting @Html.DisplayFor(model => model.Name)?</h3>
<hr />
<p>Are you sure?</p>
@using (Html.BeginForm())
{
  <input style="margin-bottom: 5px;" type="submit" value="Delete" class="btn btn-danger btn-sm"/>
}
</div>
