@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Deck>
<div class="content">
<h2>My Decks</h2>
<br>
@if (Model.Any())
{
  <ul>
    @foreach (Deck deck in Model)
    {
      <li>@Html.ActionLink($"{deck.Name}", "Details", new { id = deck.DeckId })</li>
    }
  </ul>
} 
else
{
  <h3>No decks have been built yet!</h3>
}
</div>
<div class="footer">@Html.ActionLink("Add new deck", "Create")</div>

<!-- <p>@Html.ActionLink("Add new deck", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p> -->