@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Deck>
<style>
body {
  background-image: url('https://get.wallhere.com/photo/sky-clouds-fantasy-city-ArtStation-artwork-fantasy-art-1747289.jpg');
}
</style>
<div class="content">
<h3 class="page-title">My Decks</h3>
<hr />

@if (Model.Any())
{
  <ul>
    @foreach (Deck deck in Model)
    {
      <li>@Html.ActionLink($"{deck.Name}", "Details", new { id = deck.DeckId })</li>
    }
  </ul>
  <br>
  @Html.ActionLink("+New Deck", "Create", null, routeValues: null, htmlAttributes: new { @class="btn btn-success btn-sm" })
} 
else
{
  @Html.ActionLink("+New Deck", "Create", null, routeValues: null, htmlAttributes: new { @class="btn btn-success btn-sm" })
} 
</div>